.button {
  padding: 10px 20px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: var(--back100);
  font-weight: 500;
}